<div th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">SOSmascotas</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      <li class="nav-item">
	          <a class="nav-link" th:href="@{/}">INICIO</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/reportes/crear}">REPORTAR MASCOTA</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/reportes/listado}">VER REPORTES</a>
	        </li>
            <li class="nav-item">
	          <a class="nav-link" th:href="@{/reportes/listado}">VER MIS REPORTES</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/reportes/about}">CERRAR SESION</a>
	        </li>
   	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/reportes/about}">ACERCA DE SOSmascotas</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>